.repo .releaseList{
	margin-left: 10%;
	margin-right: 10%;
}

.repoText{
	text-align: center;
}

.dlIcon{
	position: absolute;
	left: 2%;
	top: 32%;
}

.loading{
	text-align: center;
}

.home{
	text-align: center;
}